apps/
ffm/
src/wolfChemGen.cpp
src/*~
include/wolfChemGen.h
include/*~
build/*~
test/*~
run/*~
run/*.exe
run/*.h
run/ctis/*~
run/outputData/
run/outputData/*~
run/outputData/*.nb  

build/*.o
build/*.exe
